body > div:first-child {
    padding-top: 60px;
}

.table td, .table th {
    vertical-align: middle;
}
body {
    background-size: cover cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.toast-top-full-width {
    top: 60px;
}

.code {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 120%;
}

@media (max-width: 1200px) {
    .navbar-collapse {
        max-height: calc(100vh - 56px);
        overflow-y: auto;
    }
}

.form-group.required label:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: " \f621";
    color: red;
}
